.game-panel-grid {
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .game-panel-grid {
        width: 98vw;
        height: 98vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}