.tile {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 11.1%;
  height: 11.1%;
}

.tile-A1,
.tile-A2,
.tile-A3,
.tile-A7,
.tile-A8,
.tile-A9,
.tile-B1,
.tile-B2,
.tile-B3,
.tile-B7,
.tile-B8,
.tile-B9,
.tile-C1,
.tile-C2,
.tile-C3,
.tile-C7,
.tile-C8,
.tile-C9,
.tile-G1,
.tile-G2,
.tile-G3,
.tile-G7,
.tile-G8,
.tile-G9,
.tile-H1,
.tile-H2,
.tile-H3,
.tile-H7,
.tile-H8,
.tile-H9,
.tile-I1,
.tile-I2,
.tile-I3,
.tile-I7,
.tile-I8,
.tile-I9,
.tile-D4,
.tile-D5,
.tile-D6,
.tile-E4,
.tile-E5,
.tile-E6,
.tile-F4,
.tile-F5,
.tile-F6 {
  background: rgba(243, 202, 131, 0.36);
}

.tile-A4,
.tile-A5,
.tile-A6,
.tile-B4,
.tile-B5,
.tile-B6,
.tile-C4,
.tile-C5,
.tile-C6,
.tile-D1,
.tile-D2,
.tile-D3,
.tile-E1,
.tile-E2,
.tile-E3,
.tile-F1,
.tile-F2,
.tile-F3,
.tile-D7,
.tile-D8,
.tile-D9,
.tile-E7,
.tile-E8,
.tile-E9,
.tile-F7,
.tile-F8,
.tile-F9,
.tile-G4,
.tile-G5,
.tile-G6,
.tile-H4,
.tile-H5,
.tile-H6,
.tile-I4,
.tile-I5,
.tile-I6 {
  background: rgba(248, 159, 5, 0.36);
}